<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/navigation.ejs") %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quia reprehenderit provident assumenda tempora a facilis repellat modi nisi. Maxime porro, ipsum voluptatum veritatis quisquam amet totam blanditiis impedit dolorem obcaecati dolore iusto minima doloremque quasi nobis, perferendis sed alias est unde tempore molestiae ipsa ea! Optio minima quis, cupiditate, voluptatum aspernatur nostrum quaerat, vel voluptatem beatae laborum molestias tempore laudantium facere. Impedit et neque iusto! Nisi ducimus architecto minus tempora assumenda voluptatum omnis quis nesciunt placeat, nihil rerum sunt officia voluptatem numquam quam voluptates saepe consequuntur qui fugit nulla iste non ex quae laborum. Eius ullam doloribus, doloremque modi aperiam commodi eveniet blanditiis sed at nemo quos autem laudantium veniam distinctio ex facilis quia quaerat ut deleniti ipsum inventore ea atque, animi iure! Officiis fugiat veniam voluptates consequuntur cumque sit repellendus quia numquam doloremque velit suscipit quis ducimus rerum similique ullam omnis totam, et iure ipsam atque incidunt optio assumenda magni eveniet. Doloremque perspiciatis nisi dolorem possimus dolor magnam delectus molestiae iure earum, tempora, natus quisquam quod. Dicta, ab nostrum id sunt perspiciatis, commodi veniam ullam non quo amet facilis accusamus. Esse, obcaecati nisi? Fugit veniam quibusdam, perferendis necessitatibus id, corporis nemo numquam provident harum nostrum ipsa voluptatum voluptatibus!</p>
        </section>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>
</html>